#login-page{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 300;
    transition: 2s ease-in;
  }
  
  #circle{
    position: absolute;
    top: -125vh;
    left: -3vw;
    width: 200vw;
    height: 250vh;
    border-radius: 50%;
    background-color: var(--main);
    z-index: 200;
  }
  
  #login-box{
    position: absolute;
    left: 37vw;
    top: 40vh;
    z-index: 300;
    display: flex;
    flex-wrap: wrap;
  }
  
  @media(max-width:1200px) {
    #login-box{
        left: 30vw;
        top: 35vh;
    }
    #canvas3{
        top: -35vh;
    }
  }
  @media(max-width:1100px) {
    #login-box{
        left: 25vw;
        top: 34vh;
    }
    #canvas3{
        top: -35vh;
    }
    #create-acct{
        left: 10rem;
    }
  }
  @media(max-width:1000px) {
    #login-box{
        left: 55vw;
        top: 20vh;
        width: 300px;
    }
    #canvas3{
        top: -45vh;
    }
    h1{
        margin-bottom: 0rem;
    }
  }
  
  h1{
    font-size: 7rem;
    color: white;
    margin-bottom: 4rem;
    color:var(--lighter);
  }
  
  .login-input{
    border-radius: 5px;
    color: var(-dark);
    font-size: 1.8rem;
    padding: 1.3rem 2rem;
    width: 300px;
    margin: 1.5rem;
  }
  
  #loginBtn{
    color: white;
    background-color: var(--dark);
    font-size: 3rem;
    width: 70px;
    height: 70px;
    margin-left: 3rem;
  }
  
  #create-acct{
    cursor: pointer;
    font-size: 1.6rem;
    font-family: inherit;
    color: white;
    text-decoration: underline;
    margin: 2rem;
  }